@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

.raboto {
    font-family: 'Roboto', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

#header .fixed {
    width: 33%;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header .fixed img {
    width: 180px;
}